<section class="w-full bg-abu-abu">
  <div class="container-w-custom py-12">
    <div class="border-b pb-8">
      <div class="grids">
        <div class="item xs-true"></div>
        <div class="item xs-4">
          <div class="py-6 px-12 bg-white">
            <div class="mb-5">
              <form class="flex">
                <input type="email"
                  class="rounded-l-lg w-full p-4 border-t mr-0 focus:ring-indigo-500 focus:border-indigo-500 border text-gray-800 border-gray-200 bg-white"
                  placeholder="your@mail.com" />
                <button
                  class="px-4 flex items-center rounded-r-lg bg-blue-400  text-white font-bold uppercase border-blue-500 border-t border-b border-r">
                  <box-icon color="currentColor" size="md" name='mail-send'></box-icon>
                </button>
              </form>
            </div>
            <p class="text-justify">Please subscribe to get news and new notifications regarding the products we sell, and also get promos that
              you can find out from email.</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
    <footer class="mt-10">
      <h6 class="title font-bold">HANJANI COLLECTION</h6>
    </footer>
  </div>
</section>