<section class="w-full bg-abu-abu">
  <div class="container-w-custom py-12">
    <div class="border-b pb-8">
      <div class="grids">
        <div class="item xs-12 md-8">
          <div class="grids">
            <div class="item xs-4">
              <h3 class="text-base mb-4 font-semibold">Product</h3>
              <p class="text-gray-400 mb-3">Shirt</p>
              <p class="text-gray-400 mb-3">T-Shirt</p>
              <p class="text-gray-400 mb-3">Pants</p>
              <p class="text-gray-400 mb-3">Jacket</p>
              <p class="text-gray-400 mb-3">Sweater</p>
              <p class="text-gray-400 mb-3">Jeans</p>
            </div>
            <div class="item xs-4">
              <h3 class="text-base mb-4 font-semibold">Information</h3>
              <p class="text-gray-400 mb-3">FAQ</p>
              <p class="text-gray-400 mb-3">Blog</p>
              <p class="text-gray-400 mb-3">Support</p>
            </div>
            <div class="item xs-4">
              <h3 class="text-base mb-4 font-semibold">Company</h3>
              <p class="text-gray-400 mb-3">About Us</p>
              <p class="text-gray-400 mb-3">Careers</p>
              <p class="text-gray-400 mb-3">Contact Us</p>
            </div>
          </div>
        </div>
        <div class="item xs-12 md-4">
          <div class="py-6 px-12 bg-white">
            <p class="font-semibold mb-4">Subscribe</p>
            <div class="mb-5">
              <form class="flex">
                <input type="email"
                  class="rounded-l-lg w-full p-4 border-t mr-0 focus:ring-indigo-500 focus:border-indigo-500 border text-gray-800 border-gray-200 bg-white"
                  placeholder="your@mail.com" />
                <button
                  class="px-4 flex items-center rounded-r-lg bg-blue-400  text-white font-bold uppercase border-blue-500 border-t border-b border-r">
                  <box-icon color="currentColor" size="md" name='mail-send'></box-icon>
                </button>
              </form>
            </div>
            <p class="text-justify">Please subscribe to get news and new notifications regarding the products we sell, and also get promos that
              you can find out from email.</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider">
    <footer class="mt-10">
      <div class="grids justify-center md:justify-between">
        <div class="xs-12 md-4">
          <div class="flex justify-center md:justify-start pb-6">
            <h6 class="title font-bold">HANJANI COLLECTION</h6>
          </div>
        </div>
        <div class="xs-12 md-4">
          <div class="flex justify-center pb-6 space-x-8">
            <a href="/">Terms</a>
            <a href="/">Privacy</a>
            <a href="/">Cookies</a>
          </div>
        </div>
        <div class="xs-12 md-4">
          <div class="flex pb-6 justify-center md:justify-end space-x-4">
            <box-icon type='logo' border='circle' size="md" name='facebook'></box-icon>
            <box-icon name='twitter' border='circle' size="md" type='logo' ></box-icon>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>